@model List<CategoryDTO>
<div class="container-xxl flex-grow-1 container-p-y">
    <h4 class="fw-bold py-3 mb-4">
        <span class="text-muted fw-light">Kategori Yönetimi /</span> Kategoriler
    </h4>

    <!-- Basic Bootstrap Table -->
    <div class="card">
        <h5 class="card-header">Kategoriler </h5>
        <div class="table-responsive text-nowrap m-2">
            
            <table class="table table-bordered" id="categoriesTable" width="100%" collspacing="0">
                <thead>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </thead>
                <tfoot>
                    <tr>
                        <th>İsim</th>
                        <th>Oluşturulma Tarihi</th>
                        <th>Oluşturan</th>
                        <th>Durum</th>
                        <th>İşlemler</th>
                    </tr>
                </tfoot>
                <tbody class="table-border-bottom-0">
                    @foreach (var item in Model)
                    {
                        <tr name="@item.Id">
                            <td>@item.Name</td>
                            <td>@item.CreatedDate.ToShortDateString()</td>
                            <td>@item.CreatedBy</td>
                            <td>@(item.IsDeleted ? "Aktif Değil" : "Aktif")</td>
                            <td>
                                <a class="btn btn-success btn-sm" data-id="@item.Id" asp-area="Admin" asp-controller="Category" asp-action="UndoDeleted" asp-route-categoryId="@item.Id"><i class="bx bx-undo"></i></a>
                             @*   <a class="btn btn-danger btn-sm" data-id="@item.Id" asp-area="Admin" asp-controller="Category" asp-action="Delete" asp-route-categoryId="@item.Id"><i class="bx bx-minus-circle"></i></a>*@
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
    <!--/ Basic Bootstrap Table -->



</div>

@section Scripts{
    <script src="~/js/categoryIndex.js"></script>
          }